*,:before,:after
{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body
{
    overflow-x: hidden;
    position: flex;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-y: scroll;
    background: #F9F7F7;
}
/* container */
.container  
{
    position: flex;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-y: scroll;
    background: #F9F7F7;
    background: url(/img/дымок\ 1.svg);
}
/* весь хедер */
.info--header 
{
    padding :3%;
    height: 1ex;
    background-color:#F9F7F7 ;
}


/* Лого */
.header--logo
{
    align-items: center;
    padding: 1wh;
    display: flex;
    height: 220px;
    font-family: 'Lilita One';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 110px;
    color: #000000;

}
/* li */
li
{
    font-family: 'Lilita One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    color: #000000;
    list-style: none;
}
/* заглавления */
h1
{
    font-size: 96px;
    color: black;
    font-family: 'Lilita One';

}
h3
{
    font-family: IBM Plex Serif;
    font-size: 48px;
    font-style: italic;
    font-weight: 700;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: left;
    text-align: center;
    color: black;
}
h4
{
    text-align: center;
    font-family: IBM Plex Serif;
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
    color: black;
    
}
h5
{
    font-family: IBM Plex Serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    opacity: 0.52;

}
h6
{
    font-family: 'IBM Plex Serif';
    font-style: italic;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    color: #000000;
}
p
{
    font-family: IBM Plex Serif;
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
    line-height: 31px;
    text-align: left;

}
.h2-geo
{

    display: flex;
    font-family: 'Lilita One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    color: #000000;

}
.h2-mail
{
    display: flex;
    font-family: 'Lilita One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    color: #000000;

}
.h2-phone
{
    display: flex;
    font-family: 'Lilita One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    color: #000000;

}
/* изображения */
.img-nav
{
    width: 37px;
    height: 37px;
    justify-content: center;
}
.nav-link li a img
{
    height: 30px; 
    width: 30px;
}
.nav-img-bot
{
  justify-content: right;
}
.location-img
{
    height: 520px;
    width: 609px;
}
/* навигация */

.header--nav-link
{
    display: flex;
    justify-content:start;
    padding-top:1%;
    background-color: #C7D7EE;
    height: 95px;
}
.nav-link
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-catalog
{
    
    font-family: 'IBM Plex Serif';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    text-decoration-line: underline;
    color: #000000;
}
.nav-about
{
    font-family: 'IBM Plex Serif';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    text-decoration-line: underline;
    color: #000000;

}
.nav-delivery
{
    font-family: 'IBM Plex Serif';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    text-decoration-line: underline;
    color: #000000;
}
.nav-contacts
{
    font-family: 'IBM Plex Serif';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    text-decoration-line: underline;
    color: #000000;
}
/*hrefы*/
a
{
    padding-left: 30px;
    text-decoration: none;
    color: black;
}
/*ads block*/
.ads
{
    display: flex;
    height: 651px;
    width: 1955px;
    justify-content: center;


}
/*main*/
main
{
    width: 1920px;
    height: 1600px;
}

/* about block*/
.main-about
{   
    padding-top: 70px;
    justify-content: center;
    display: flex;
    width: 1030px;
    margin-bottom:0 ;
    padding-bottom: 0;
}
.main-about-first
{
    justify-content: center;
    display: flex;
    width: 1030px;
    margin-bottom:0 ;
    padding-bottom: 0;
}
.main-about-second
{
    padding-top: 30px;
    margin-bottom: 0;
}
.border-about-bottom
{
    padding-top: 40px;
    border-bottom: 1px solid #5082E4;
}
.about-block
{   
    border-top: 1px solid #5082E4;
    width: 1030px;
    height: 800px;
}
/*contac block*/
.us-block
{
    width: 1960px;
    height: 1380px;
}
.us
{
    text-align: center  ;
    height: 1380px;
    width: 1960px;
    padding-top: 100px;

}
/*footer*/
footer
{

    width: 1920px;
    height: 360px;
    font-size: 16px;
}
.contact
{
    padding-top: 20px ;
}
.footer-end
{
    padding-top: 50px;
}
.search-block
{
    margin: 0;
    display: flex;
    justify-content: right;
}
.plaseholder
{
    text-align: center;
    height: 50px;
    width: 450px;
    border-radius: 110%;
}